.about{
    padding: 30px;
    padding-bottom: 50px;
}

.about-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    overflow: hidden;
}

.about-paragraph h2{
    font-size: 3rem;
}

.about-paragraph h3{
    font-size: 2rem;
}

.about-img{
    overflow: hidden;
    height: 300px;
}

.about-img img{
    border-radius: 1rem;
    height: auto;
}

