.contact {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 70vh;
    gap: 30px;
}

.contact-leftside {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-rightside {
    border: none;
    padding: 20px;
    border-radius: 1rem;
    background: rgb(192, 189, 189);
}

.contact-rightside h1 {
    padding: 10px 0 15px;
}

.form-submit {
    width: 50%;
    border: none;
    border-radius: 1rem;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
}

.form-submit:hover {
    background: #ac55ee;
}

label {
    display: block;
    padding: 15px 0 5px;
}

input,
textarea {
    border: none;
    outline: none;
    border-radius: 1rem;
    resize: none;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .contact-leftside {
        display: none;
    }
}
